<!--
  @description       : 
  @author            : Parul Singhal
  @group             : 
  @last modified on  : 03-31-2022
  @last modified by  : Parul Singhal
-->
<template>
    <lightning-card  title="Lightning Navigation Service">
        <lightning-button
            variant="brand"
            label="Navigate to Record Home Page"
            title="Primary action"
            onclick={navigatetohome}
            class="slds-m-left_x-small">
        </lightning-button>
        <lightning-button
        variant="brand"
        label="Navigate to Record"
        title="Primary action"
        onclick={navigatetorecord}
        class="slds-m-left_x-small">
    </lightning-button>
    <lightning-button
        variant="brand"
        label="Navigate to Tab"
        title="Primary action"
        onclick={navigatetotab}
        class="slds-m-left_x-small">
    </lightning-button>
    <lightning-button
        variant="brand"
        label="Create New Record"
        title="Primary action"
        onclick={createnewrecord}
        class="slds-m-left_x-small">
    </lightning-button>
    <lightning-button
        variant="brand"
        label="Navigate to External URL"
        title="Primary action"
        onclick={gotoexternalurl}
        class="slds-m-left_x-small">
    </lightning-button>
   

</lightning-card>
</template>
